.header {
  position: relative;
  box-shadow: 0 -10px 10px 15px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 -10px 10px 15px rgba(0, 0, 0, 0.5);
  -moz-box-box-shadow: 0 -10px 10px 15px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
