// Color primario
$primary: #ff5400;

// Fuentes
$font-light: #fff;
$font-grey: #778;
$font-dark: #000;

// Bordes
$broder-light: #fff;
$broder-grey-light: #a7a7a7;
$broder-grey: #444444;

// Fondos
$background-light: #fff;
$background-grey-light: #eee;
$background-grey: #a7a7a7;
$background-grey-dark: #363636;
$background-dark: #151515;
$background-dark-absolute: #000;

// Botón de aceptar
$success: #69af00;
