.menu {
  background-color: $background-grey-dark;
  border-radius: 0;

  .ui.grid {
    margin: 0;
  }

  &__left,
  &__right {
    padding: 0 !important;
    display: flex !important;
    align-items: center;

    .ui.menu {
      border: 0;
      box-shadow: none;
      height: 100%;
      background: transparent;

      .icon {
        margin-right: 10px !important;
        color: $primary;
      }

      .item {
        color: $font-light;
        border-radius: 0 !important;

        &:hover {
          background: $background-dark;
          color: $font-light;

          &:before {
            background-color: $background-dark;
          }
        }

        &.m-0 i {
          margin: 0 !important;
        }
      }
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;
  }
}
